/**
 * Dashkit
 *
 * Custom variables followed by Dashkit variables followed by Bootstrap variables
 * to ensure cascade of styles.
 */

$path-to-img: '/img/dashkit' !default;

// Bootstrap functions
@import '~bootstrap/scss/functions';

// Custom variables
@import 'trezoa-variables-dark';

// Custom variables
@import 'trezoa-variables';

// Dark mode variables
@import 'dashkit/dark/variables-dark';

// Dashkit variables
@import 'dashkit/variables';

// Bootstrap core
@import '~bootstrap/scss/bootstrap';

// Dashkit core
@import 'dashkit/theme';

// Dark mode overrides
@import 'dashkit/dark/overrides-dark';

// Custom core
@import 'trezoa';

// Dark mode overrides
@import 'trezoa-dark-overrides';
